.video{
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120rem 0;

    video{
        width: 1494rem;
    }

    @include tablet {
        padding: 60rem 0;
        video{
            width: 900rem;
        }
    }

    @include mobile{
        padding: 40rem calc((100% - var(--container-width)) / 2);
        video{
            width: 100%;
            height: 638rem;
            object-fit: cover;
        }
    }
}