.goods {
    &__wrapper {
        display: flex;
        margin-inline: auto;
        width: min(calc(100% - 30rem), 1561rem);
        gap: 140rem;
    }

    &__images {
        width: 746rem;
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        gap: 10rem;
    }

    &__image {
        width: 100%;
        aspect-ratio: 746.40/933.00;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__title{
        @include h3;
    }

    &__top{
        display: flex;
        justify-content: space-between;
        gap: 10rem;
    }
}