.button {
    text-align: center;

    @include button;
    padding: 17.5rem 30rem;

    &--border {
        border: 1rem solid var(--grey-300);
    }

    &--filled {
        background-color: var(--black);
        color: var(--white);

        &:disabled {
            background: var(--grey-400, #A5A5A5);
            pointer-events: none;
        }
    }
}

.link {
    @include button;
    color: var(--black);
    padding-block: 3rem;
    border-bottom: 2rem solid currentColor;
    width: fit-content;

    &--white {
        color: var(--white);
    }

    &--error {
        color: var(--error);
    }
}

.nav-btn {
    width: 60rem;
    height: 60rem;
    padding: 18rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 1rem solid var(--grey-200, #E6E6E6);
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(19rem);
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity var(--transition);
    position: absolute;
    display: flex;

    &::before {
        content: '';
        @include iconMask("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M8.5 5.5L15.5 12.5L8.5 19.5' stroke='%237E7E7E' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E", 100%);
    }

    &--prev {
        &::before {
            rotate: 180deg;
        }
    }


    &.swiper-button-disabled {
        opacity: 0;
        pointer-events: none;
    }

    &.swiper-button-lock {
        display: none;
    }
}