:root {
  scroll-behavior: smooth;
}


body {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100vw;
  background: var(--white);
  font-family: var(--font-family-base);
  @include body9;

  &.scroll-lock {
    overflow: hidden;
  }

  // &.menu-open {
  //   overflow: hidden;
  //   padding-right: var(--scroll-width);
  // }

  // &.search-open {
  //   overflow: hidden;
  //   padding-right: var(--scroll-width);
  // }
}

footer {
  margin-top: auto;
}

::-webkit-scrollbar {
  width: var(--scroll-width);
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background-color: var(--grey-200);
}

::-webkit-scrollbar-thumb {
  background: var(--grey-500);
}

.map-widget-layout-view__controls {
  display: none !important;
}

// Нормализация отображения OpenLayers карты на разных экранах


.wrapper{
  max-width: min(var(--container-width), calc(100% - 30rem));
  width: 100%;
  margin: 0 auto;
}

section{
  overflow: hidden;
}

.br-mobile{
  display: none;
  @include mobile{
    display: block;
  }
}

img{
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.split-lines{
  overflow: hidden;
}

[data-image-animate] img{
  transform-origin: top;
}

.section{
  padding-block: 100rem;
  &--breadcrumbs{
    padding-top: 40rem;
  }

  @include tablet {
    padding-block: 60rem;
    &--breadcrumbs{
      padding-top: 30rem;
    }
  }

  @include mobile {
    padding-block: 40rem;
    &--breadcrumbs{
      padding-top: 20rem;
    }
  }
}

.main{
  flex-grow: 1;
  position: relative;
  z-index: 2;
  background-color: var(--white);
  &--mt{
    margin-top: var(--header);
  }
}