:root {
    --container-width: 1800rem;
    --font-family-base: "Manrope", "sans-serif";
    --black: #020202;
    --white: #fff;
    --error: #a20e1d;
    --ligth-error: #f6e7e8;
    --grey-50: #f8f8f8;
    --grey-100: #f4f4f4;
    --grey-200: #e6e6e6;
    --grey-300: #bcbcbc;
    --grey-400: #a5a5a5;
    --grey-500: #707070;
    --grey-600: #7e7e7e;
    --grey-700: #414141;
    --grey-800: #333;
    --transition: 0.4s ease-in;
    --transition-2: 0.8s ease-out;
    --scroll-width: 8rem;
  }
  