.customer {

    &__title {
        @include h2;
        margin-bottom: 40rem;
        text-align: center;
    }

    &__links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20rem;
        @include bodyCups;
        color: var(--grey-500);
        margin-bottom: 30rem;

        @include mobile {
            display: none;
        }
    }

    &__link {
        padding-bottom: 5rem;
        transition: color var(--transition);

        &.active {
            color: var(--black);
            border-bottom: 1rem solid var(--black);
        }

        @media (hover:hover) {
            &:hover {
                color: var(--black);
            }
        }
    }

    &__main {
        border-top: 1rem solid var(--grey-200, #E6E6E6);

        @include mobile {
            border-top: none;
        }

        .wrapper {
            display: flex;

            @include mobile {
                flex-direction: column;
                width: 100vw;
                max-width: unset;
            }
        }
    }

    &__left {
        padding: 40rem 40rem 40rem 0;
        border-right: 1rem solid var(--grey-200, #E6E6E6);
        width: fit-content;
        height: auto;
        flex: 0 0 auto;

        @include mobile {
            padding: 24rem calc((100% - var(--container-width)) / 2);
            border-right: none;
            border-bottom: 1rem solid var(--grey-200, #E6E6E6);
            width: 100%;
        }

        &-inner {
            width: 380rem;
            display: flex;
            flex-direction: column;
            gap: 20rem;

            @include tablet {
                width: 300rem;
            }

            @include mobile{
                width: 100%;
                gap: 16rem;
            }
        }

    }

    &__head {
        @include h3;
    }

    &__subtitle {
        @include body9;
    }

    &__right {
        padding: 40rem 0 105rem 40rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-grow: 1;

        @include mobile{
            padding: 24rem calc((100% - var(--container-width)) / 2) 40rem;
            flex-direction: column;
            gap: 24rem;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        gap: 30rem;
        background: var(--grey-50, #F8F8F8);
        padding: 30rem;
        max-width: 420rem;

        &-head {
            @include bodyCups;
        }

        &-block {
            display: flex;
            flex-direction: column;
            gap: 10rem;
        }

        &-tel {
            @include body9;
            display: flex;
            align-items: center;
            gap: 10rem;

            &::before {
                content: '';
                color: var(--grey-700);
                @include iconMask("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M20.6638 18.7705C20.6638 18.7705 19.5052 19.9085 19.2212 20.2422C18.7587 20.7358 18.2137 20.9689 17.4992 20.9689C17.4305 20.9689 17.3573 20.9689 17.2886 20.9643C15.9284 20.8775 14.6644 20.3473 13.7164 19.8948C11.1243 18.6426 8.84819 16.8647 6.95678 14.6115C5.3951 12.7331 4.35093 10.9964 3.6594 9.13168C3.23349 7.99366 3.07778 7.10702 3.14647 6.27064C3.19227 5.73591 3.39835 5.29259 3.77847 4.91325L5.34015 3.35477C5.56455 3.14453 5.8027 3.03027 6.03626 3.03027C6.32478 3.03027 6.55835 3.20395 6.7049 3.3502C6.70948 3.35477 6.71406 3.35934 6.71864 3.36391C6.998 3.62442 7.26362 3.89407 7.54298 4.182C7.68495 4.32825 7.8315 4.4745 7.97805 4.62532L9.22831 5.87303C9.71376 6.35748 9.71376 6.80538 9.22831 7.28983C9.0955 7.42237 8.96727 7.55491 8.83446 7.68288C8.44976 8.07593 8.75196 7.77435 8.35353 8.13083C8.34437 8.13997 8.33521 8.14454 8.33063 8.15368C7.93677 8.54673 8.01005 8.93064 8.09248 9.19115C8.09706 9.20486 8.10164 9.21857 8.10622 9.23228C8.43138 10.0184 8.88935 10.7588 9.58547 11.6409L9.59005 11.6454C10.854 13.1993 12.1867 14.4105 13.6568 15.3383C13.8446 15.4571 14.0369 15.5531 14.2201 15.6445C14.385 15.7267 14.5407 15.8044 14.6735 15.8867C14.6918 15.8958 14.7101 15.9095 14.7285 15.9187C14.8842 15.9964 15.0307 16.033 15.1819 16.033C15.562 16.033 15.8001 15.7953 15.878 15.7176L16.7757 14.8217C16.9314 14.6664 17.1787 14.479 17.4672 14.479C17.7511 14.479 17.9847 14.6572 18.1267 14.8126C18.1312 14.8172 18.1312 14.8172 18.1358 14.8217L20.6592 17.34C21.1309 17.8062 20.6638 18.7705 20.6638 18.7705Z' stroke='%23414141' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E", 24rem)
            }
        }

        &-email {
            @include body9;
            display: flex;
            align-items: center;
            gap: 10rem;

            &::before {
                content: '';
                color: var(--grey-700);
                @include iconMask("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M3.83464 6.46046L12.0013 11.534L20.7513 6.46046M5.0013 18.6663C3.71264 18.6663 2.66797 17.6568 2.66797 16.4114V7.58791C2.66797 6.34256 3.71264 5.33301 5.0013 5.33301H19.0013C20.29 5.33301 21.3346 6.34256 21.3346 7.58791V16.4114C21.3346 17.6568 20.29 18.6663 19.0013 18.6663H5.0013Z' stroke='%23414141' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E", 24rem)
            }
        }

        &-socials {
            display: flex;
            align-items: center;
            gap: 20rem;
        }

        @include mobile{
            padding: 24rem;
            gap: 16rem;
        }
    }

    &__mobile {
        &-dropdown {
            display: none;

            @include mobile {
                display: block;
                position: relative;
                margin-bottom: 24rem;

                .customer {
                    &__links {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        border: 1rem solid var(--grey-200, #E6E6E6);
                        box-shadow: 0 0 9.7rem 0 rgba(0, 0, 0, 0.14);
                        position: absolute;
                        top: calc(100% + 8rem);
                        width: 100%;
                        background-color: var(--white);
                        opacity: 0;
                        translate: 0 10rem;
                        transition: opacity var(--transition), translate var(--transition);
                        pointer-events: none;
                    }
    
                    &__link {
                        border-bottom: none;
                        text-align: left;
                        width: 100%;
                        padding: 12rem 16rem;
                        color: var(--black);
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        &.active {
                            background: var(--grey-50, #F8F8F8);

                            &::after {
                                content: '';
                                width: 6rem;
                                height: 6rem;
                                background: var(--black);
                                flex: 0 0 auto;
                            }
                        }
                    }
                }

                &.active {
                    .customer__links {
                        opacity: 1;
                        translate: 0 0;
                        pointer-events: auto;
                    }

                    .customer__mobile-button {
                        border-color: var(--grey-700);
                        &::after {
                            transform: rotateX(180deg);
                        }
                    }
                }
            }


        }

        &-button {
            @include bodyCups;
            color: var(--grey-500);
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1rem solid var(--grey-200, #E6E6E6);
            background: var(--white, #FFF);
            padding: 10rem 16rem;
            width: 100%;
            transition: border-color var(--transition);

            &::after {
                content: '';
                transition: transform var(--transition);
                @include iconMask("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M19 8L12 15L5 8' stroke='%23020202' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E", 24rem);

            }
        }
    }

    &__socials{
        display: flex;
        align-items: center;
        gap: 20rem;
    }

    &__icon{
        color: var(--black);

        &.tg{
            @include iconMask("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill='none'%3E%3Cpath d='M4.72992 13.7935C10.8768 11.3426 14.9748 9.72671 17.0238 8.94604C22.8808 6.71681 24.0963 6.32964 24.8902 6.31652C25.0648 6.31396 25.4535 6.35346 25.7072 6.54116C25.918 6.69947 25.9773 6.91356 26.0069 7.06387C26.0333 7.21403 26.0695 7.55627 26.0399 7.82343C25.7236 10.8749 24.35 18.28 23.6516 21.6979C23.3584 23.144 22.7754 23.6289 22.2121 23.6762C20.9866 23.7793 20.0577 22.9357 18.8718 22.2243C17.0172 21.1108 15.9696 20.4179 14.1677 19.3314C12.0858 18.0759 13.4364 17.3856 14.6223 16.2579C14.932 15.9627 20.3278 11.4714 20.4299 11.064C20.4431 11.013 20.4563 10.8231 20.3311 10.723C20.2092 10.6226 20.028 10.6569 19.8963 10.6841C19.7085 10.7227 16.747 12.5162 11.002 16.0643C10.162 16.5932 9.40105 16.851 8.71586 16.8375C7.96479 16.8227 6.51535 16.4479 5.43816 16.1276C4.12049 15.7347 3.06965 15.527 3.16189 14.8597C3.20801 14.5123 3.73178 14.1568 4.72992 13.7935Z' fill='%23020202'/%3E%3C/svg%3E", 30rem)
        }

        &.wa{
            @include iconMask("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.1989 3.94727C13.2745 3.9534 11.3861 4.46434 9.72611 5.42805C8.06615 6.39176 6.69396 7.77378 5.74935 9.4333C4.80474 11.0928 4.32147 12.9705 4.34879 14.8751C4.3761 16.7797 4.91302 18.6431 5.90483 20.2754L3.94531 26.0525L9.9534 24.144C11.4061 24.9321 13.0214 25.3811 14.6762 25.4569C16.331 25.5327 17.9814 25.2333 19.5014 24.5814C21.0214 23.9295 22.3707 22.9424 23.4465 21.6955C24.5222 20.4486 25.2958 18.9749 25.7082 17.3869C26.1207 15.7989 26.161 14.1387 25.8262 12.5329C25.4914 10.9271 24.7902 9.4183 23.7763 8.12167C22.7624 6.82505 21.4625 5.7749 19.9759 5.05143C18.4894 4.32796 16.8554 3.95029 15.1989 3.94727ZM15.1989 5.75083C13.5319 5.75495 11.8984 6.21437 10.4784 7.07849C9.05828 7.94261 7.90672 9.17791 7.15051 10.6483C6.3943 12.1187 6.06278 13.7672 6.19248 15.4121C6.32218 17.0571 6.90805 18.6346 7.88557 19.9711L6.75675 23.2998L10.2292 22.1971C11.7019 23.1653 13.4309 23.681 15.1989 23.6792C17.5954 23.6708 19.8908 22.7227 21.5824 21.0425C23.274 19.3623 24.2239 17.087 24.2239 14.715C24.2239 12.343 23.274 10.0677 21.5824 8.38747C19.8908 6.70727 17.5954 5.75916 15.1989 5.75083ZM20.805 17.5025C20.7403 17.3854 20.5583 17.3094 20.287 17.1619C20.0156 17.0144 18.678 16.2985 18.4279 16.1974C18.1778 16.0962 17.9947 16.0439 17.7993 16.3122C17.6039 16.5805 17.0501 17.1791 16.8815 17.3567C16.7129 17.5343 16.551 17.5508 16.2786 17.4026C16.0061 17.2544 15.1252 16.9315 14.1025 15.9561C13.5178 15.3777 13.0227 14.7171 12.6331 13.9955C12.4824 13.7142 12.632 13.5709 12.776 13.4393C12.9055 13.3205 13.0652 13.1283 13.2103 12.973C13.3296 12.8386 13.4285 12.6877 13.504 12.5251C13.5437 12.4507 13.564 12.3676 13.5632 12.2834C13.5625 12.1992 13.5406 12.1165 13.4995 12.0427C13.4348 11.9031 12.9323 10.5296 12.7224 9.97086C12.5125 9.41211 12.278 9.49566 12.1161 9.48891C11.9542 9.48217 11.7711 9.45322 11.5869 9.44648C11.4462 9.44489 11.3067 9.47216 11.1772 9.52658C11.0477 9.581 10.9309 9.66138 10.8343 9.76265C10.5708 10.0279 9.82946 10.6665 9.77922 12.0193C9.72897 13.3721 10.6713 14.7153 10.802 14.9037C10.9326 15.0921 12.6029 18.024 15.3775 19.2296C18.1521 20.4352 18.1666 20.0674 18.6758 20.0403C19.1849 20.0132 20.3394 19.436 20.5951 18.8032C20.8508 18.1704 20.8698 17.6198 20.805 17.5025Z' fill='%23020202'/%3E%3C/svg%3E", 30rem)
        }

        &.vk{
            @include iconMask("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='30' viewBox='0 0 31 30' fill='none'%3E%3Cpath d='M28.6153 22.8908H28.3212C27.0112 22.8908 25.7007 22.8866 24.3906 22.8949C24.1871 22.8949 24.0905 22.8525 24.0142 22.6398C23.3446 20.7715 22.2209 19.2543 20.4997 18.2179C19.6031 17.6785 18.6292 17.3643 17.5614 17.2517V22.853C17.528 22.8685 17.4927 22.88 17.4565 22.8871C14.6199 22.9425 11.9244 22.4284 9.4953 20.8827C7.51009 19.6198 6.08396 17.8686 5.07355 15.7641C4.30512 14.1524 3.79099 12.4319 3.54939 10.6635C3.38569 9.49426 3.30199 8.31348 3.17944 7.11331H7.56558C7.57853 7.3634 7.59148 7.62088 7.60535 7.87835C7.72234 10.0443 8.10154 12.1493 9.08512 14.1076C9.77877 15.4955 10.7193 16.6782 12.0844 17.4677C12.5006 17.7072 12.9557 17.8733 13.4481 18.0975V7.1087H17.5392V13.355C17.7927 13.3015 18.0165 13.2696 18.2329 13.2064C19.413 12.8585 20.3601 12.1451 21.1883 11.2684C22.2702 10.1234 23.0706 8.74309 23.5263 7.23651C23.5397 7.19314 23.5596 7.15115 23.5776 7.10547H27.647C27.3501 8.7666 26.6759 10.2464 25.7048 11.5984C24.7337 12.9503 23.5536 14.085 22.1136 14.9635C25.4038 16.686 27.5494 19.3184 28.6153 22.8908Z' fill='%23020202'/%3E%3C/svg%3E", 30rem)
        }
    }
}