.return {
    display: flex;
    flex-direction: column;
    gap: 30rem;
    max-width: 727rem;

    @include mobile{
        gap: 20rem;
    }

    &__title {
        @include h3;
    }

    &__block {
        display: flex;
        flex-direction: column;
        gap: 20rem;

        @include mobile{
            gap: 16rem;
        }
    }

    &__head{
        @include bigTextCupsSB;
    }

    &__image{
        width: 230rem;
        height: auto;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @include mobile{
            width: 160rem;
        }
    }
}