.challenge {
    position: relative;
    aspect-ratio: 16/9;
    overflow: hidden;
    background-color: var(--black);

    
    &__video {
        width: 100%;
        height: 100%;
        position: relative;

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: relative;
            z-index: 1;
        }

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.2);
            z-index: 2;
        }
    }

    &__title {
        font-size: 52rem;
        font-style: normal;
        font-weight: 600;
        line-height: 110%;
        letter-spacing: 5.2rem;
        text-transform: uppercase;
        position: absolute;
        color: var(--white);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 3;
        width: 1256rem;

        @include tablet {
            width: 990rem;
            font-size: 42rem;
        }

        @include mobile{
            font-size: 14rem;
            letter-spacing: 1.4rem;
            width: 328rem;
        }
    }
}