.path {

    &__container {
        display: flex;
        flex-direction: column;
        gap: 60rem;
    }

    &__top {
        display: flex;
        flex-direction: column;
        gap: 40rem;
        align-items: center;
        text-align: center;
        max-width: 573rem;
        margin: 0 auto;
    }

    &__title {
        @include h2;
    }

    &__subtitle {
        @include bodyCups;
        color: var(--grey-700);
    }

    &__main {
        display: flex;
        gap: 63rem;
    }

    &__block {
        width: 837rem;
        display: flex;
        flex-direction: column;
        gap: 280rem;

        &--left {
            text-align: right;
        }

        &--right {
            margin-top: 381rem;

            .path__item {
                flex-direction: row-reverse;
            }
        }
    }

    &__progress {
        width: 3rem;
        height: 1191rem;
        background-color: #E6E6E6;
        flex: 0 0 auto;
    }

    &__item {
        display: flex;
        align-items: flex-start;
        gap: 40rem;
    }

    &__image {
        width: 573rem;
        height: 500rem;
        flex: 0 0 auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 38rem;
    }

    &__date {
        @include h2;
    }

    &__text {
        @include bodyCups;
        color: var(--grey-700);
    }
}