.paragraph {
    &__wrapper {
        max-width: min(1494rem, calc(100% - 30rem));
        width: 100%;
        margin: 0 auto;
    }

    &__container {
        display: flex;
        gap: 40rem;

        @include mobile{
            flex-direction: column;
        }
    }

    &__left {
        max-width: 574rem;
        width: 100%;
        display: flex;
        gap: 50rem;
        flex-direction: column;

        @include mobile{
            gap: 12rem;
        }
    }

    &__block {
        display: flex;
        flex-direction: column;
        gap: 20rem;

        @include mobile{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            &:last-child{
                align-items: center;
            }
        }
    }

    &__date {
        @include smallTextReg;

    }

    &__title {
        @include h2;
    }

    &__head {
        @include bodyCups;
    }

    &__socials {
        display: flex;
        align-items: center;
        gap: 20rem;

        @include mobile{
            gap: 12rem;
        }
    }

    &__link {
        color: var(--grey-700);

        &.tg {
            @include iconMask("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3E%3Cpath d='M5.04576 14.7129C11.6025 12.0986 15.9736 10.375 18.1592 9.54225C24.4067 7.1644 25.7033 6.75142 26.5501 6.73743C26.7363 6.73469 27.1509 6.77683 27.4215 6.97704C27.6464 7.1459 27.7096 7.37426 27.7413 7.5346C27.7694 7.69477 27.808 8.05983 27.7764 8.3448C27.4391 11.5997 25.9738 19.4985 25.2289 23.1442C24.9162 24.6868 24.2942 25.2039 23.6934 25.2544C22.3863 25.3644 21.3954 24.4645 20.1304 23.7058C18.1522 22.518 17.0348 21.7789 15.1127 20.62C12.892 19.2807 14.3327 18.5445 15.5976 17.3416C15.9279 17.0267 21.6835 12.2359 21.7924 11.8014C21.8065 11.7471 21.8205 11.5444 21.687 11.4376C21.557 11.3305 21.3638 11.3672 21.2232 11.3962C21.0229 11.4373 17.864 13.3504 11.736 17.1351C10.84 17.6992 10.0283 17.9742 9.29744 17.9598C8.49629 17.944 6.95023 17.5442 5.80123 17.2026C4.39571 16.7835 3.27482 16.5619 3.3732 15.8502C3.4224 15.4796 3.98109 15.1004 5.04576 14.7129Z' fill='%23414141'/%3E%3C/svg%3E", 32rem);
        }

        &.vk {
            @include iconMask("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='32' viewBox='0 0 33 32' fill='none'%3E%3Cpath d='M30.4597 24.4168H30.1467C28.7521 24.4168 27.357 24.4123 25.9624 24.4212C25.7458 24.4212 25.6429 24.3759 25.5617 24.149C24.8489 22.1562 23.6527 20.5379 21.8205 19.4324C20.866 18.857 19.8293 18.5219 18.6927 18.4018V24.3764C18.6571 24.393 18.6195 24.4053 18.5809 24.4128C15.5614 24.4719 12.692 23.9236 10.1061 22.2748C7.99286 20.9277 6.47472 19.0598 5.39912 16.815C4.58111 15.0959 4.03382 13.2606 3.77662 11.3743C3.60236 10.1271 3.51326 8.86764 3.38281 7.58747H8.05193C8.06571 7.85423 8.07949 8.12887 8.09426 8.40351C8.2188 10.7138 8.62246 12.9592 9.6695 15.048C10.4079 16.5285 11.4092 17.79 12.8623 18.6321C13.3054 18.8876 13.7897 19.0647 14.314 19.304V7.58255H18.6691V14.2453C18.9388 14.1882 19.1771 14.1542 19.4074 14.0868C20.6637 13.7157 21.6719 12.9548 22.5535 12.0196C23.7052 10.7982 24.5572 9.3259 25.0424 7.71888C25.0567 7.67262 25.0778 7.62783 25.097 7.5791H29.4289C29.1129 9.35097 28.3952 10.9294 27.3614 12.3715C26.3277 13.8136 25.0714 15.0239 23.5385 15.961C27.041 17.7984 29.3251 20.6063 30.4597 24.4168Z' fill='%23414141'/%3E%3C/svg%3E", 32rem)
        }
    }

    &__right {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 20rem;
    }

    &__image {
        width: 100%;
        max-height: 533rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 10rem;
        @include body9;

        @include mobile{
            gap: 8rem;
        }

        h2 {
            margin-top: 5rem;
            @include bodyCups;

            @include mobile{
                margin-top: 8rem;
            }
        }

        a,
        button {
            width: fit-content;
            @include button;
            padding-block: 5rem;
            border-bottom: 2rem solid var(--black, #020202);
            margin-top: 15rem;

            @include mobile{
                margin-inline: auto
            }
        }
    }
}

.articles {
    &__title {
        @include h2;
        margin-bottom: 60rem;

        @include mobile{
            margin-bottom: 24rem;
        }
    }

    &__container {
        position: relative;
    }

    @include mobile{
        &__swiper {
            overflow: visible;
        }
        
        .blog__item {
            width: 260rem;
        }
    }
}